--- Kconfig
+++ Kconfig
@@ -67,6 +67,11 @@
 help
 	"enable SENSOR_GCORE_GC2053_SLAVE"
 
+config SENSOR_GCORE_GC2093
+bool "SENSOR_GCORE_GC2093"
+help
+        "enable SENSOR_GCORE_GC2093"
+
 config SENSOR_GCORE_GC2093_SLAVE
 bool "SENSOR_GCORE_GC2093_SLAVE"
 help
